.none{
    display: none !important; 
}
.easter-egg-avocado {
    width: 80rem;
    height: 100vh;
    margin-top: 0vh;

    color:rgb(226, 43, 43);
    background-color:rgb(0, 0, 0); 
    border-color: rgb(124, 124, 124);
    
}
.robin {
    color: floralwhite;
    margin-top: 30vh;
    margin-left: 10vh;
    color: rgb(255, 255, 255);
}
.ice-cream{
    color: rgb(255, 88, 10);
}
.hide {
    color: rgb(255, 88, 10);
}
.hilo {
    color: rgb(255, 88, 10);
}
.hill {
    margin-top: -25vh;
    margin-left: 68vh;
    color: rgb(255, 4, 4);
    font-size: 7vh;
}

.good {
   color: rgb(255, 81, 0);
   margin-top: 3vh;
   margin-left: 55vh;
   font-size: 5vh;
}

.banner {
    height: 20.33vh;
    font-size: 32px;
    color: cornsilk;
    font-weight: 900;
    text-align: center;
    background-color: rgb(255, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    color: floralwhite;
    margin-top: 24vh;
    margin-left: 50vh;
    color: rgb(255, 255, 255);
}

.A {
    color: floralwhite;
    margin-top: -3vh;
    margin-left: 10vh;
    color: rgb(255, 255, 255);
}